language: ruby
bundler_args: --without development
rvm:
  - 1.9.3
  - 2.0.0
  - jruby-19mode
  - rbx-19mode
gemfile:
  - gemfiles/Gemfile.minitest-4
  - gemfiles/Gemfile.minitest-5
notifications:
  recipients:
    - remy@rymai.me
